<h1>Hello</h1>
<p *ngIf="user">Logged in as {{user.firstName}} {{user.lastName}} ({{user.email}}) [{{user.id}}]<button (click)="logout()">Logout</button></p>
<code *ngIf="user">{{token}}</code>

<button *ngIf="!user" (click)="login()">Login</button>

<div>
  <h2>Test Roles</h2>
  <h3>Roles</h3>
  <ul>
    <li *ngFor="let role of roles">{{role}}</li>
  </ul>
  <h3>Test Roles</h3>
  <ul>
    <li *ngFor="let testrole of ['view_a', 'view_b', 'view_c']">
      <button (click)="testRole(testrole)">{{testrole}}</button>
      <span *ngIf="roles.includes(testrole)">Given</span>
    </li>
  </ul>
  <h3>Test Resource</h3>
  {{response}}
  <ul>
    <li *ngFor="let testresource of ['resource_a', 'resource_b', 'resource_c']">
      <button (click)="resource(testresource)">{{testresource}}</button>
    </li>
  </ul>
</div>

<div>
  <h2>UserStuff</h2>
  <ul>
    <li *ngFor="let stuff of userstuff">{{stuff.text}}</li>
  </ul>
  <button (click)="addStuff()">AddUserStuff</button>
</div>

<div>
  <h2>AllStuff</h2>
  <ul>
    <li *ngFor="let stuff of allstuff">{{stuff.text}}</li>
  </ul>
</div>

<div>
  <input #path>
  <button (click)="sendPath(path.value)">GetPath</button>
  <button (click)="postPath(path.value)">PostPath</button>
</div>

<router-outlet></router-outlet>
